@font-face {
	font-family: 'FUNGIS';
	src: url('/assets/fonts/FUNGIS/FUNGIS\ Regular.woff2') format('woff2')
		url('/assets/fonts/FUNGIS/FUNGIS\ Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'FUNGIS';
	src: url('/assets/fonts/FUNGIS/FUNGIS\ Bold.woff2') format('woff2')
		url('/assets/fonts/FUNGIS/FUNGIS\ Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'FUNGIS';
	src: url('/assets/fonts/FUNGIS/FUNGIS\ Heavy.woff2') format('woff2')
		url('/assets/fonts/FUNGIS/FUNGIS\ Heavy.woff') format('woff');
	font-weight: bolder;
	font-style: normal;
	font-display: swap;
}